
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*  {margin: 0 ;
    padding: 0;
    font-family:'Comfortaa', cursive;
    box-sizing: border-box;
}
main{
    padding: 0 !important;
    margin: 0 !important;
}



/* start hero */



.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1588388866431-15cbdbe37634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    height: 800px;
    color: white;
    text-shadow: black 0px 0px 6px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    font-size: 1rem;
    margin: 0;
    border-radius: 0%;
}

button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    border-radius: 40px;
    border: none;
}

button span {
    position: relative;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 8px;
    z-index: 1;
}

button span a{
    text-decoration: none !important;
    color: aliceblue;
}

button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #8ea8fc;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

button .liquid::after,
button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

button .liquid::before {
    border-radius: 35%;
    background: rgb(243, 237, 237);
    animation: animate 5s linear infinite;
}

button .liquid::after {
    border-radius: 40%;
    background: rgba(90, 127, 228, 0.5);
    animation: animate 10s linear infinite;
}

button:hover .liquid {
    top: -120px;
    color: #343a40;
}

@keyframes animate {
    0% {
    transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
    transform: translate(-50%, -75%) rotate(360deg);
    }
}

/* end hero */






 /* <!-- start enlaces secciones --> */


 .contenedor figure{
    position: relative;
    height: 75vh; /* change to percentage value */
    cursor: pointer;
    width: 100vw; /* change to percentage value */
    overflow: hidden;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction:row;
    flex-flow: wrap;
    margin: 0;
    padding: 0;
}

.contenedor figure img{
    display: flex;
    align-items: center;
    justify-content: center; /* change to center */
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,103,123,0.7);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    text-align: center;
}

.contenedor figure:hover > .capa h3{
    margin-top: 2vh; /* change to percentage value */
    margin-bottom: 20vh; /* change to percentage value */
    text-align: center;
}

.contenedor figure:hover > img{
    transform: scale(1.3);
}

.contenedor figure .capa h3{
    color: #fff;
    font-weight: 800;
    margin-bottom: 8vh; /* change to percentage value */
    transition: all 400ms ease-out;
    margin-top: 2vh; /* change to percentage value */
}

.contenedor figure .capa p{
    color: #fff;
    font-size: 4vh; /* change to percentage value */
    line-height: 1.5;
    width: 90%; /* change to percentage value */
    max-width: 22vw; /* change to percentage value */
    margin: 0 auto;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
   /* adjust properties for screens with width up to 768px */
    .contenedor figure {
        width: 100vw;
        height: 60vh;
    }
    .contenedor figure .capa h3 {
        margin-bottom: 5vh;
        font-size: 5vh;
    }
    .contenedor figure .capa p {
        font-size: 2vh;
  }
}

/* <!-- end enlaces secciones --> */





/* start section gastronomia */

.row-food{
    margin-top: 30px;
    margin-bottom: 30px;
    gap:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.card{
    border-radius: 5px;
    box-shadow: black 0px 0px 5px 0.5px;
}

.card-img-top{
    height: 200px;
}

.card:hover{
transform: scale(1.05);
box-shadow: black 0px 0px 20px 0px;
transition: all 400ms ease-out;
}

/* end section gastronomia */







/* start galery */
.item{
    transition: .5s ease-in-out;
    gap: 5px 5px;
}
.nameplace{
    text-align: center;
    margin-top: 10px;
}
.item:hover{
    filter:brightness(80%) ;
}
/* end galery */


/* start videos */


/* end videos */



/* start contacto */

.contact{
    background: url("https://images.unsplash.com/photo-1600047464155-526eae97abf8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 91vh;
}

.head{
    background-color: #343a40;
    border-radius: 5px;
    margin-top: -0px;
    -webkit-box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
-moz-box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
}

.effect-1{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0 ;
    border-bottom: 1px solid #343a40; ;
}

.effect-1 ~ .focus-border{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color:#343a40; ;
    transition: 0.4s;
}

.effect-1:focus ~ .focus-border{
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn1{
    background: #8ea8fc;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px ;
    height: 60px;
    width: 145px;
}

.btn1:hover{
    -webkit-box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
    box-shadow: 1px 10px 22px 1px rgba(0,0,0,0.38);
}

/* end contacto */








 /* start footer */


.Footer {
    background-color: #343a40;;
    height: 110px;
    grid-area: Footer; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: white;
    
}
ul.social {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
li a img{
    padding: 0 10px;
}
.social li a img:hover{
    transform: translateY(-3%) scale(1.5);
    transition: all 1s ;
}

/* end footer */
